server:
  port: ${SERVER_PORT:8080}
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

uploadPath: file:///c:/hanspoon/img/
itemImgLocation: c:/hanspoon/img

spring:
  profiles:
    active: dev

  application:
    name: hanspoon

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3308/hanspoon?serverTimezone=Asia/Seoul
    username: root
    password: 1234

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  messages:
    encoding: UTF-8

  devtools:
    livereload:
      enabled: false

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH_GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile

          kakao:
            client-id: ${OAUTH_KAKAO_CLIENT_ID}
            client-secret: ${OAUTH_KAKAO_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: Kakao
            scope:
              - profile_nickname

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

logging:
  level:
    root: info
    org.hibernate.SQL: warn
    org.hibernate.type.descriptor.sql: warn

jwt:
  secret: ${JWT_SECRET:mySecretKeyForJwtTokenGenerationMustBe256BitsLong}
  expiration: ${JWT_EXPIRATION:86400000}

portone:
  store-id: ${PORTONE_STORE_ID}
  api-secret: ${PORTONE_API_SECRET}
  channel-key:
    kakao: ${PORTONE_CHANNEL_KEY_KAKAO}
    toss: ${PORTONE_CHANNEL_KEY_TOSS}
    toss-payments: ${PORTONE_CHANNEL_KEY_TOSS_PAYMENTS}
